---
import Footer from "../../components/Footer.astro";
import BaseHead from "../../components/BaseHead.astro";
import {BG_RANDOM_IMAGE_SRC, POST_HEADER, FOOTER} from "../../consts";

import {getCollection} from 'astro:content'
import PostHeader from "../../components/post/PostHeader.astro";
import PostEntryList from "../../components/post/PostEntryList.astro";
import TagShowcase from "../../components/post/TagShowcase.astro";

const collection = await getCollection('blog')

const tagSet = new Set<string>()

collection.map((entry: any) => entry.data.tags.map((tag: string) => tagSet.add(tag)))

const tags = Array.from(tagSet.values())
---

<html lang="en">
<head>
    <BaseHead title="Blog Index"/>
</head>

<body class="dark" style={`background-image: url('${BG_RANDOM_IMAGE_SRC || ""}')`}>
<div class="sticky top-0">
    <PostHeader header={POST_HEADER} prefix="blog"/>
</div>
<div class="max-sm:p-2 p-10 flex flex-col lg:flex-row-reverse gap-5 dark:bg-dark dark:bg-opacity-50">
    <div class="lg:w-[20vw]">
        <div class="card flex flex-col gap-5">
            <div class="text-2xl font-bold">Tags</div>
            <TagShowcase tags={tags}/>
        </div>
    </div>
    <div class="w-full">
        <PostEntryList collection={collection} prefix="blog"/>
    </div>
</div>
<Footer footer={FOOTER}/>
</body>
</html>
