---
import Footer from "../../components/Footer.astro";
import BaseHead from "../../components/BaseHead.astro";
import {BG_RANDOM_IMAGE_SRC, BLOG_HEADER, FOOTER} from "../../consts";

import {getCollection} from 'astro:content'
import BlogHeader from "../../components/blog/BlogHeader.astro";

const collection = await getCollection('journal')

const bodyStyle = `background-image: url('${BG_RANDOM_IMAGE_SRC || ""}')`
---

<html lang="en">
<head>
    <BaseHead title="Journal"/>
</head>

<body class="dark" style={bodyStyle}>
<div class="sticky top-0">
    <BlogHeader header={BLOG_HEADER}/>
</div>
<div class="p-10 flex flex-col gap-5 w-full min-h-screen">
    {
        collection.reverse().map((entry) =>
                <iframe class="card" loading="lazy" src={`/journal/${entry.slug}`}/>
        )
    }
</div>
<Footer footer={FOOTER}/>
</body>
</html>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        for (const frame of document.body.getElementsByTagName('iframe')) {
            frame.addEventListener('load', () => {
                frame.height = `${frame.contentWindow?.document.body.offsetHeight!! + 100}px`
            })
        }
    })
</script>
