---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import {BG_IMG_SRC, HEADER, FOOTER, PROMPT_ATTR, NEXTCLOUD_DROPBOX, AVATAR_IMG_SRC} from '../consts'
import BaseHead from "../components/BaseHead.astro"
import PromptStyleText from "../components/PromptStyleText.astro";
import LinkButton from "../components/ui/LinkButton.astro";
import MediaShowcase from "../components/MediaShowcase.astro";

import {Content as Profile} from "../content/intro/profile.md"
import {Content as Bookshelf} from "../content/intro/bookshelf.md"
import {Content as BookList} from "../content/intro/booklist.md"
import {Content as LostFound} from "../content/intro/lost_found.md"
import {Content as LostList} from "../content/intro/lost_list.md"
import {Content as CodeStatus} from "../content/intro/status.md"
import {Content as More} from "../content/intro/more.md"

const bodyStyle = `background-image: url('${BG_IMG_SRC}')`
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title="Jelly Terra"/>
</head>
<body class="dark bg-cover" style={bodyStyle}>
<div class="h-screen flex flex-col justify-between transparent">
    <Header header={HEADER}/>
    <div class="relative flex flex-col gap-5 items-center text-center">
        <img class="rounded-full" src={AVATAR_IMG_SRC} width="230" height="230" alt="avatar">
        <p>
            <span class="font-bold" style="font-size: 200%">Jelly Terra &lambda;</span><br/>
            <PromptStyleText attr={PROMPT_ATTR} class="w-[80vw] md:text-3xl"></PromptStyleText>
        </p>
        <div class="flex flex-wrap gap-5">
            <LinkButton class="color-button-fill" href="/blog" title="VIEW BLOG"/>
            <LinkButton class="color-button" title="GITHUB PROFILE" href="https://github.com/jellyterra"/>
        </div>
    </div>
    <div class="ml-auto mr-auto mb-20">
        <MediaShowcase class="ml-5 mr-5 flex flex-row gap-6 sm:gap-10" media={FOOTER.media}/>
    </div>
</div>
<main>
    <section class="text right color-fill">
        <div>
            <Profile/>
        </div>
    </section>
    <section class="text left transparent">
        <div>
            <Bookshelf/>
            <div class="mt-5 w-max">
                <LinkButton class="color-button-fill" href={NEXTCLOUD_DROPBOX} title="Having some fun stuff?"/>
            </div>
        </div>
        <div>
            <BookList/>
        </div>
    </section>
    <section class="text right text-gray-400 bg-gray-200 dark:bg-gray-700">
        <div>
            <LostFound/>
        </div>
        <div>
            <LostList/>
        </div>
    </section>
    <section class="text left transparent">
        <div class="text-right">
            <CodeStatus/>
        </div>
        <div class="flex flex-col gap-1">
            <img src="https://github-readme-stats.vercel.app/api/wakatime?username=jellyterra&api_domain=wakapi.jellyterra.com&bg_color=1A202C&title_color=2F855A&icon_color=2F855A&text_color=ffffff&custom_title=Wakapi%20Week%20Stats&layout=compact"
                 alt="Wakapi Stats">
            <img src="https://github-readme-stats.vercel.app/api/wakatime?username=jellyterra&layout=compact"
                 alt="WakaTime Stats">
        </div>
    </section>
    <section class="text right color-fill">
        <div>
            <More/>
        </div>
    </section>
    <section class="p-40 content-center text-center flex flex-col gap-20 transparent" style="height: 60vh">
        <h1>踏雪留痕，寻梅采香</h1>
        <p>
            <LinkButton class="color-button-fill" href="https://github.com/jellyterra" title="VIEW BLOG"/>
        </p>
    </section>
</main>
<Footer footer={FOOTER}/>
</body>
</html>

<style>
    h1 {
        font-size: 40px;
        line-height: 200%;

        @apply font-bold;
    }

    section {
        padding: 10vh 10vw;

        line-height: 200%;

        @apply gap-10;

        h1 {
            font-size: 40px;
            line-height: 200%;

            @apply font-bold;
        }

        ul {
            @apply list-disc;
        }
    }

    section.text {
        p a {
            @apply font-bold underline underline-offset-2;
        }
    }

    section.left {
        @apply flex flex-col lg:flex-row-reverse justify-between;
    }

    section.right {
        @apply flex flex-col lg:flex-row justify-between;
    }

    .transparent {
        @apply bg-opacity-60 dark:bg-opacity-60 bg-light dark:bg-dark;
    }
</style>
