---
import Article from "./Article.astro";
import {CF_WEB_ANALYTICS_TOKEN} from "../consts";
interface Props {
    analytics: {
        host: string
        deployTime: number
    }
}

const {analytics} = Astro.props;

const dialog = `
<div id="AnalyticsTip" class="flex top-0 left-0 z-10 fixed w-full h-full flex-col justify-between bg-opacity-70 bg-light">
    <div></div>
    <div class="w-full bottom-0 pl-5 pr-5">
        <div class="p-8 pl-10 pr-10 flex flex-wrap gap-10 items-center border-t border-l border-r border-blue-400 rounded-t-2xl shadow-xl bg-opacity-95 bg-light text-black">
            <a target="_blank" href="https://github.com/dashanalytics/">
                <img src="https://avatars.githubusercontent.com/u/181559610" width="50" height="50" alt="Dashanalytics"/>
            </a>
            <div class="flex flex-col gap-2">
                <h3 class="font-bold text-xl">Privacy Notices</h3>
                <p>
                    The website collects anonymous statistics data for analyzing web traffic and does not require Cookie.
                    Your data will not be shared with third-party.
                </p>
            </div>
            <a href="#" id="AnalyticsTipConfirm" class="ml-auto p-2 pl-5 pr-5 rounded-full font-extrabold text-white bg-blue-900">
                Got it!
            </a>
        </div>
    </div>
</div>`
---

{import.meta.env.PROD?
<Fragment
        set:html={`<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "${CF_WEB_ANALYTICS_TOKEN}"}'></script>`}/>:null}

<script define:vars={{analytics, dialog}}>
    function uuidGen() {
        return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c => (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16))
    }

    if (localStorage.getItem('uuid') === null) localStorage.setItem('uuid', uuidGen())
    const uuid = localStorage.getItem('uuid')

    const isConfirmed = localStorage.getItem('Analytics:Confirmed')

    function report() {
        fetch(`${analytics.host}/api/v1/reportAccess?deploy_time=${analytics.deployTime}&uuid=${uuid}&target=${encodeURIComponent(`${location.host}:${location.pathname}`)}&user_agent=${encodeURIComponent(navigator.userAgent)}&time=${Date.now()}&confirmed=${isConfirmed ? '1' : '0'}`).then(() => {
        })
    }

    document.addEventListener('DOMContentLoaded', () => {
        if (isConfirmed) return
        document.body.insertAdjacentHTML('beforeend', dialog)

        const tip = document.getElementById('AnalyticsTip')
        const confirm = document.getElementById('AnalyticsTipConfirm')

        confirm.addEventListener('click', () => {
            localStorage.setItem('Analytics:Confirmed', true)
            tip.remove()
            if (uuid !== '0') report()
        })
    })

    if (uuid !== '0') report()
</script>
