---
import DarkModeButton from "../ui/DarkModeButton.astro"

interface Props {
    header: {
        logo: {
            src: string
            width: number
            height: number
        },
        nav: {
            title: string
            href: string
        }[]
    }
}

const {header} = Astro.props
---

<header class="m-0 pt-2 pb-2 pl-20 pr-20 flex flex-row items-center shadow-xl bg-[#eee] dark:bg-[#2a2a2e] dark:text-white">
    <div><a href="/"><img src={header.logo.src} width={header.logo.width} height={header.logo.height} alt=""></a></div>

    <nav class="ml-auto flex flex-row items-center gap-10 font-bold">
        {header.nav.map((link: any) =>
                <a class="select-none duration-200 hover:text-gray-500" target="_blank"
                   href={link.href}>{link.title}</a>
        )}
        <DarkModeButton></DarkModeButton>
    </nav>
</header>
