---
interface Props {
    config: {
        repo: string
        repoId: string
        category: string
        categoryId: string
    }
}

const {config} = Astro.props
---

<div class="rounded-2xl p-5 text-center text-white bg-[#2a2a2e] bg-opacity">
    <div class="text-2xl font-bold">Let me know you were here!</div>
    <script src="https://giscus.app/client.js"
            data-repo={config.repo}
            data-repo-id={config.repoId}
            data-category={config.category}
            data-category-id={config.categoryId}
            data-mapping="og:title"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
</div>
