---
import TagShowcase from "./TagShowcase.astro";
import Date from "./Date.astro";
import ViewStatistics from "./ViewStatistics.astro";

interface Props {
    entry: any
    prefix: string
}

const {entry, prefix} = Astro.props

const sideImage = entry.data.sideImage?.startsWith('/') || entry.data.sideImage?.startsWith('https://') ? entry.data.sideImage : `/blog/${entry.slug}/${entry.data.sideImage}`
---

<a class="card flex flex-col gap-2" href={`/${prefix}/${entry.slug}`}>
    <div class="flex flex-wrap gap-5 items-center justify-between">
        <div class="flex flex-col gap-2">
            <h1 class="font-bold text-xl">{entry.data.title}</h1>
            <div>{entry.data.description}</div>
            <div class="flex flex-wrap gap-1 text-gray-500 dark:text-gray-400">
                <Date date={entry.data.pubDate}/>
                {
                    entry.data.updateDate &&
                        <div>=></div>
                        <Date date={entry.data.updateDate}/>
                }
            </div>
            <TagShowcase tags={entry.data.tags}/>
            <ViewStatistics path={`/${prefix}/${entry.slug}/`}/>
        </div>
        <div class="max-md:hidden max-h-32 max-w-48 items-center content-center">
            {
                entry.data.sideImage && entry.data.sideImage.endsWith("svg") ?
                        <img class="rounded-xl object-contain" loading="lazy" width="100" height="100" src={sideImage}
                             alt=""/> :
                        <img class="rounded-xl object-contain" loading="lazy" src={sideImage} alt=""/>
            }
        </div>
    </div>
</a>
