---
import {type CollectionEntry} from 'astro:content'

import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import {BLOG_HEADER, FOOTER, GISCUS_BLOG, BG_RANDOM_IMAGE_SRC, SOURCE} from "../consts";
import BlogHeader from "../components/blog/BlogHeader.astro";
import TagShowcase from "../components/blog/TagShowcase.astro";
import Giscus from "../components/blog/Giscus.astro";
import IconLink from "../components/ui/IconLink.astro";
import Date from "../components/blog/Date.astro";
import Article from "../components/Article.astro";

interface Props {
    source_base: string
    entry: CollectionEntry<'blog'>
}

const {source_base, entry} = Astro.props;

const bodyStyle = `background-image: url('${entry.data.backgroundImage || BG_RANDOM_IMAGE_SRC || ""}')`
---

<html lang={entry.data.lang}>
<head>
    <base target="_blank"/>
    <BaseHead title={entry.data.title} data={entry.data}/>
</head>

<body class="dark" style={bodyStyle}>
<div class="sticky top-0">
    <BlogHeader header={BLOG_HEADER}/>
</div>
<main class="min-h-screen p-5 lg:p-20 flex flex-col gap-10 bg-opacity bg-light dark:bg-dark">
    <div class="flex flex-wrap gap-5 justify-between">
        <div class="flex flex-col gap-5">
            <div class="font-bold text-5xl">{entry.data.title}</div>
            <div class="text-2xl">{entry.data.description}</div>
            <div class="flex flex-wrap gap-5 items-center">
                <IconLink icon="history" href={`${SOURCE.base}/${source_base}/${entry.id}`} text="History"/>
                <div class="text-gray-500">
                    {
                        entry.data.updatedDate &&
                            <div>Updated at
                                <Date date={entry.data.updatedDate}/>
                            </div>
                    }
                    <div>Published at
                        <Date date={entry.data.pubDate}/>
                    </div>
                </div>
            </div>
            <TagShowcase tags={entry.data.tags}></TagShowcase>
        </div>
        <div class="mb-10 max-h-40 max-w-80 content-center">
            {
                entry.data.sideImage &&
                    <img class="rounded object-contain" src={entry.data.sideImage} alt=""/>
            }
        </div>
    </div>
    <hr>
    <Article>
        <slot/>
    </Article>
    {
        entry.data.comment == true &&
            <Giscus config={GISCUS_BLOG}/>
    }
</main>
<Footer footer={FOOTER}/>
</body>
</html>
