---
import {type CollectionEntry} from 'astro:content'

import BaseHead from '../components/BaseHead.astro';
import Date from "../components/post/Date.astro";
import DarkMode from '../components/ui/DarkMode.astro';
import Article from "../components/Article.astro";

interface Props {
    source_base: string
    entry: CollectionEntry<'journal'>
}

const {source_base, entry} = Astro.props;
---

<html lang={entry.data.lang}>
<head>
    <base target="_blank"/>
    <BaseHead title={`${entry.slug}: ${entry.data.title}`} data={entry.data}/>
</head>

<body class="bg-opacity-0">
<div class="flex flex-row gap-5">
    <DarkMode/>
    <Article>
        <Date date={entry.data.pubDate}/>
        <h2>{entry.data.title}</h2>
        <slot/>
    </Article>
</div>
</body>
</html>
